{% extends "layout/default" %}

{% block content %}
	<div class="leading-loose">
		{% comment %} <h1>{{ document.title }}</h1> {% endcomment %}
		<p>{{ document.content }}</p>
	</div>

	{% if products %}
		<h2 class="font-thin my-2">Found {{ products | size }} products</h2>

		<div class="list-reset flex">
		{% for product in products %}
			{% include 'components/product_card' %}
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}
